
.inicio{
	margin-bottom: 50px;
}


.inicio>span{
	display: block;
	padding: 20px 4px;
}


.inicio>span>p{
	font-weight: bold;
}

.inicio>span>img{
	width: 200px;
	display: block;
	margin-top: 10px;
}

.inicio>h2{
	text-align: left;
	font-family: fangsong;
	margin-left: 0;
}


@media(max-width:900px){
	.inicio>span{
		font-size: 12px;
	}
	body{
		background-image: none!important;
	}

	.inicio>h2{
		text-align: center;
	}

}

